/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css?family=Lato');
.nav > li {
    font-size: 18px;
    padding-right: 25px;
    font-family: 'Lato', sans-serif;
    display: inline-grid;
    list-style: none;
    font-weight: bolder;
    text-transform: uppercase;

}

.nav > li:hover .nav-sub{
    display: inline;
}

.nav > li a{ 
    text-decoration: none;
    color: purple;
}

.nav > li a:hover{
    color: pink;
    font-size: 1em;
}

.nav-sub {
    display: none;
    padding: 0;
}

.nav-sub > li {
    font-size: 12px;
    list-style: none;
   
}

.nav-sub > li:hover .nav-sub3 {
    display: inline-grid;
}

.nav-sub3 {
    display: none;
    padding: 0;
}

.nav-sub3 > li{
    list-style: none;
} */